header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;

}
header section nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 20px;
}
header h2 {
    margin: 2px;
    text-align: center;

    p {
        color: white;
        li {
            color: white;

        }
    }
}

